body {
    background-color: #F5F6FA;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}

.msg {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #DADADA; 
        background-color:#FFFFFF;            
        width: 50%;
        
}

.count {
    border: 1px solid #DADADA; 
    background-color:#FFFFFF;  
    width: 50%;   
    display: flex;
    
         
    }

.saisie {
    display: flex;
    border: 1px solid #DADADA; 
    background-color:#FFFFFF;  
    width: 50%;
    
}

input {
    margin-left:20px;
    margin-top:20px;
    margin-bottom:20px;
    margin-right:10px;
    width: 83%;
    padding: 5px;
    border: 1px solid #DADADA;
    
    
}

button {
    color: rgb(0, 132, 255);
    border-color: rgb(0, 132, 255);
    border-radius: 10%;
    background-color: #FFFFFF;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 10px;    
    
    
}

#search {
    margin-top: 8px;
}


#counter{
    margin-left: 10px;
}

.avatar {
    border-radius: 50%;
    margin: 20px;
    height:60px;
    width: 60px;
}

h6 {
    
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 7px;
    
}

.txt {
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    background-color:#FFFFFF;
    padding-bottom: 30px;
    margin-right: 13px;


        
}

.pictoTrash {
    height: 15px;
    margin-right: 15px;
    margin-left: auto;
}

p {
    font-size: 15px
}

#lycos {
    width: 50%;
    margin-top:10px;
    
}